<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Club Epika{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/prettyPhoto.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/validationEngine.jquery.css') }}" type="text/css" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
    		<script src="{{ asset('bundles/epikaclub/js/tabs/jquery.tools.min.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/slider/jquery.carouFredSel-4.5.1-packed.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/slider/jquery.carouFredSel-4.5.1.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/slider/jquery.easing.1.3.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/slider/jquery.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/filterable/jquery-1.6.2.min.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/filterable/jquery.easing.1.3.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/filterable/jquery.prettyPhoto.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/filterable/jquery.quicksand.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/filterable/script.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/contact_form/jquery-1.6.min.js') }}"></script>
    		<script src="{{ asset('bundles/epikaclub/js/contact_form/jquery.validationEngine.js') }}"></script>
    	{% endblock %}
    </head>
    <body>

       <!-- BEGIN #divMain -->
	<div id="divMain">
	
		<!-- BEGIN #divHeader -->
    	<div id="divHeader">
			
			<!-- BEGIN #divLogo -->
            <div id="divLogo">
                <a href="index.html" ><img src="{{ asset('bundles/epikaclub/images/logo.png') }}"/></a>
			<!-- END #divLogo -->
            </div>
				
            
			
			<!-- BEGIN #divMainMenu -->
            <div id="divMainMenu" class="menu-header">
            	{% block menu %}
            	<ul>
                    <li><a href="index.html" class="current">INICIO</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="portfolio.html">PORTFOLIO</a></li>
                    <li><a href="fullwidth.html">FULL WIDTH</a></li>
                    <li><a href="blog.html">BLOG</a></li>
                </ul>
                {% endblock %}
			<!-- END #divMainMenu -->
            </div>
		
		<!-- END #divHeader -->
        </div>
		{% block body %}
		<!-- BEGIN #divSlider -->
        <div id="divSlider">
            
			<!-- BEGIN #sliderList -->
            <ul id="sliderList">
               	<li><a href="#"><img src="images/slider/sliderImg1.jpg" width="990" height="300" /></a></li>
                <li><a href="#"><img src="images/slider/sliderImg2.jpg" width="990" height="300" /></a></li>
			<!-- END #sliderList -->			
            </ul>
			
			<!-- BEGIN .clearfix -->
            <div class="clearfix">
			<!-- END .clearfix -->
			</div>
               
			<!-- BEGIN #sliderNextBack -->
            <div id="sliderNextBack">
                <a id="sliderBackLink" href="#"></a>
                <a id="sliderNextLink" href="#"></a>
			<!-- END #sliderNextBack -->
            </div>
			   
		<!-- END #divSlider -->
        </div>
        
        
		<!-- BEGIN #divWelcome -->
        <div id="divWelcome">
            Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
		   aliquam erat volutpat, Lorem ipsum dolor sit amet
		<!-- END #divWelcome -->
        </div>
        
		<!-- BEGIN #divWelcomeBottom -->
        <div id="divWelcomeBottom">
		<!-- END #divWelcomeBottom -->
		</div>
	
		<!-- BEGIN #divRecentWorks -->
		<div id="divRecentWorks">
			
			<!-- BEGIN #divRecentWorksTitle -->
            <div id="divRecentWorksTitle">
            	Recent Works
			<!-- END #divRecentWorksTitle -->
        	</div>
			
			<!-- BEGIN #divRecentWorksNextBack -->
          	<div id="divRecentWorksNextBack">
          		<a id="recentWorksNextLink" href="#"></a>
                <a id="recentWorksBackLink" href="#"></a>
			<!-- END #divRecentWorksNextBack -->
    		</div>
			
			<!-- BEGIN #divRecentWorksItems -->
            <div id="divRecentWorksItems">
            	
				<!-- BEGIN #recentWorksList -->
				<ul id="recentWorksList">  
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="portfolio_details.html">
                                    <img class="recentWorksItemsImage" src="images/portfolio/1_s.jpg"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">Iceberg</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id posuere justo.
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="portfolio_details.html">
                                    <img class="recentWorksItemsImage" src="images/portfolio/2_s.jpg"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">Little Chef</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id posuere justo.
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="portfolio_details.html">
                                    <img class="recentWorksItemsImage" src="images/portfolio/3_s.jpg"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">Am Fleischmarkt 1</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id posuere justo.
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="portfolio_details.html">
                                    <img class="recentWorksItemsImage" src="images/portfolio/4_s.jpg"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">Fruita Blanch</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id posuere justo.
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="portfolio_details.html">
                                    <img class="recentWorksItemsImage" src="images/portfolio/5_s.jpg"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">Senri</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id posuere justo.
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					
				<!-- END #recentWorksList -->
                </ul>
				
				<!-- BEGIN .clearfix -->
                <div class="clearfix">
				<!-- END .clearfix -->
				</div>
				
			<!-- END #divRecentWorksItems -->
            </div>
		
		<!-- END #divRecentWorks -->
		</div>
      
      	
		<!-- BEGIN #divLastPosts -->
      	<div id="divLastPosts">
			
			<!-- BEGIN #divLastPostsTitle -->
        	<div id="divLastPostsTitle">
            	Last Posts
				
        	<!-- END #divLastPostsTitle -->
			</div>
			
			<!-- BEGIN #divLastPostsNextBack -->
          	<div id="divLastPostsNextBack">
          		<a id="lastPostsNextLink" href="#"></a>
                <a id="lastPostsBackLink" href="#"></a>
			<!-- END #divLastPostsNextBack -->
    		</div>
			
			<!-- BEGIN #divLastPostsItems -->
            <div id="divLastPostsItems">
			
				<!-- BEGIN #postsList -->
            	<ul id="postsList">
					
						<li>
							<!-- BEGIN .lastPostsItemsDateAndComments -->
							<!-- BEGIN .lastPostsItemsImageLink -->
                            <a class="lastPostsItemsImageLink" href="blog_details.html"> <img class="lastPostsItemsImage" src="images/blog/1_s.jpg" />
                            <!-- END .lastPostsItemsImageLink -->
                            </a>
                            <!-- BEGIN .lastPostsItemsTitle -->
<div class="lastPostsItemsTitle">
								<a href="blog_details.html">Little Chef</a>
							<!-- END .lastPostsItemsTitle -->
						  </div>
							
							<!-- BEGIN .lastPostsItemsText -->
							<div class="lastPostsItemsText">
								Suspendisse ut adipiscing enim. Phasellus aliquam odio non est aliquam sodales. Aenean at dolor erat, a egestas …
							<!-- END .lastPostsItemsText -->
							</div>
				  </li>
						
						<li>
							<!-- BEGIN .lastPostsItemsDateAndComments -->
							<!-- BEGIN .lastPostsItemsImageLink -->
                            <a class="lastPostsItemsImageLink" href="blog_details.html"> <img class="lastPostsItemsImage" src="images/blog/2_s.jpg" />
                            <!-- END .lastPostsItemsImageLink -->
                            </a>
                            <!-- BEGIN .lastPostsItemsTitle -->
<div class="lastPostsItemsTitle">
								<a href="blog_details.html">Botanical Bakery</a>
							<!-- END .lastPostsItemsTitle -->
						  </div>
							
							<!-- BEGIN .lastPostsItemsText -->
							<div class="lastPostsItemsText">
								Suspendisse ut adipiscing enim. Phasellus aliquam odio non est aliquam sodales. Aenean at dolor erat, a egestas …
							<!-- END .lastPostsItemsText -->
							</div>
				  </li>
						
						<li>
							<!-- BEGIN .lastPostsItemsDateAndComments -->
							<!-- BEGIN .lastPostsItemsImageLink -->
                            <a class="lastPostsItemsImageLink" href="blog_details.html"> <img class="lastPostsItemsImage" src="images/blog/3_s.jpg" />
                            <!-- END .lastPostsItemsImageLink -->
                            </a>
                            <!-- BEGIN .lastPostsItemsTitle -->
<div class="lastPostsItemsTitle">
								<a href="blog_details.html">LM Wind Power</a>
							<!-- END .lastPostsItemsTitle -->
						  </div>
							
							<!-- BEGIN .lastPostsItemsText -->
							<div class="lastPostsItemsText">
								Suspendisse ut adipiscing enim. Phasellus aliquam odio non est aliquam sodales. Aenean at dolor erat, a egestas …
							<!-- END .lastPostsItemsText -->
							</div>
				  </li>
						
						<li>
							<!-- BEGIN .lastPostsItemsDateAndComments -->
							<!-- BEGIN .lastPostsItemsImageLink -->
                            <a class="lastPostsItemsImageLink" href="blog_details.html"> <img class="lastPostsItemsImage" src="images/blog/4_s.jpg" />
                            <!-- END .lastPostsItemsImageLink -->
                            </a>
                            <!-- BEGIN .lastPostsItemsTitle -->
<div class="lastPostsItemsTitle">
								<a href="blog_details.html">S/O/T/O Post</a>
							<!-- END .lastPostsItemsTitle -->
						  </div>
							
							<!-- BEGIN .lastPostsItemsText -->
							<div class="lastPostsItemsText">
								Suspendisse ut adipiscing enim. Phasellus aliquam odio non est aliquam sodales. Aenean at dolor erat, a egestas …
							<!-- END .lastPostsItemsText -->
							</div>
				  </li>
						
						<li>
							<!-- BEGIN .lastPostsItemsDateAndComments -->
							<!-- BEGIN .lastPostsItemsImageLink -->
                            <a class="lastPostsItemsImageLink" href="blog_details.html"> <img class="lastPostsItemsImage" src="images/blog/5_s.jpg" />
                            <!-- END .lastPostsItemsImageLink -->
                            </a>
                            <!-- BEGIN .lastPostsItemsTitle -->
<div class="lastPostsItemsTitle">
								<a href="blog_details.html">Berg & Berg</a>
							<!-- END .lastPostsItemsTitle -->
						  </div>
							
							<!-- BEGIN .lastPostsItemsText -->
							<div class="lastPostsItemsText">
								Suspendisse ut adipiscing enim. Phasellus aliquam odio non est aliquam sodales. Aenean at dolor erat, a egestas …
							<!-- END .lastPostsItemsText -->
							</div>
				  </li>
						
                    
				<!-- END #postsList -->
                </ul>
				<div class="clearfix"></div>
			
			<!-- END #divLastPostsItems -->
            </div>
		
		<!-- END #divLastPosts -->
        </div>

        {% endblock %}
        
		<!-- BEGIN #divFooter -->
		<div id="divFooter">
			
			<!-- BEGIN #divFooterLogoAndCopyright -->
            <div id="divFooterLogoAndCopyright">
			
				<!-- BEGIN #divFooterLogoAndTagline -->
            	<div id="divFooterLogoAndTagline">
                    <div id="divFooterLogo">OStudio</div>
                    <div id="divFooterTagline">Wordpress theme for creative</div>
				<!-- END #divFooterLogoAndTagline -->
            	</div>
                
				<!-- BEGIN #divFooterCopyrightAndThemeBy -->
                <div id="divFooterCopyrightAndThemeBy">
                    <div id="divCopyright">
                        &copy; Copyright 2011. Powered by <a href="http://www.wordpress.org/" target="_blank">Wordpress</a>
                    </div>
                    <div id="divThemeBy">
                        <a href="http://www.oratic.com/themes/ostudio-html/" target="_blank">OStudio</a> Template by <a href="http://www.oratic.com/" target="_blank">husamrayan</a>
                    </div>
				<!-- END #divFooterCopyrightAndThemeBy -->
            	</div>
				
			<!-- END #divFooterLogoAndCopyright -->
            </div>
			
		<!-- END #divFooter -->
        </div>
        
	<!-- END #divMain -->     
	</div>
       
       
       
    <!-- END body -->
    </body>
</html>
