{% extends '::base.html.twig' %}

{% block body %}
<!-- BEGIN #divSlider -->
        <div id="divSlider">
            
			<!-- BEGIN #sliderList -->
            <ul id="sliderList">
               	<li><a href="#"><img src="{{ asset('bundles/epikaclub/images/slider/sliderImg1.jpg') }}" width="800" height="300" /></a></li>
                <li><a href="#"><img src="{{ asset('bundles/epikaclub/images/slider/sliderImg2.jpg') }}" width="800" height="300" /></a></li>
			<!-- END #sliderList -->			
            </ul>
			
			<!-- BEGIN .clearfix -->
            <div class="clearfix">
			<!-- END .clearfix -->
			</div>
               
			<!-- BEGIN #sliderNextBack -->
            <div id="sliderNextBack">
                <a id="sliderBackLink" href="#"></a>
                <a id="sliderNextLink" href="#"></a>
			<!-- END #sliderNextBack -->
            </div>
			   
		<!-- END #divSlider -->
        </div>
        
        
		<!-- BEGIN #divWelcome -->
        <div id="divWelcome">
            Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna 
		   aliquam erat volutpat, Lorem ipsum dolor sit amet
		<!-- END #divWelcome -->
        </div>
        
		<!-- BEGIN #divWelcomeBottom -->
        <div id="divWelcomeBottom">
		<!-- END #divWelcomeBottom -->
		</div>
	
	{% for category in categories %}
	
		<!-- BEGIN #divRecentWorks -->
		<div id="divRecentWorks">
			
			<!-- BEGIN #divRecentWorksTitle -->
            <div id="divRecentWorksTitle">
            	{{ category.name }}
			<!-- END #divRecentWorksTitle -->
        	</div>
			
			<!-- BEGIN #divRecentWorksNextBack -->
          	<div id="divRecentWorksNextBack">
          		<a id="recentWorksNextLink" class="recentWorksNextLink" href="#"></a>
                <a id="recentWorksBackLink" class="recentWorksBackLink" href="#"></a>
			<!-- END #divRecentWorksNextBack -->
    		</div>
			
			<!-- BEGIN #divRecentWorksItems -->
            <div id="divRecentWorksItems">
            	
				<!-- BEGIN #recentWorksList -->
				<ul id="recentWorksList" class="recentWorksList">  
					{% for company in category.companies %}
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="{{ path('company_show',{ 'id': company.id }) }}">
                                    <img class="recentWorksItemsImage" src="{{ company.getWebPath }}"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="portfolio_details.html">{{ company.name }}</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    {{ company.address }}
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					{% endfor %}
					
				<!-- END #recentWorksList -->
                </ul>
				
				<!-- BEGIN .clearfix -->
                <div class="clearfix">
				<!-- END .clearfix -->
				</div>
				
			<!-- END #divRecentWorksItems -->
            </div>
		
		<!-- END #divRecentWorks -->
		</div>
      {% endfor %}
      	
{% endblock %}