{% extends '::base.html.twig' %}

{% block body %}
<!-- BEGIN #divSlider -->
        <div id="divSlider">
            
			<!-- BEGIN #sliderList -->
            <ul id="sliderList">
               	<li><a href="#"><img src="{{ asset('bundles/epikaclub/images/slider/banners_1.jpg') }}" width="800" height="300" /></a></li>
                <li><a href="#"><img src="{{ asset('bundles/epikaclub/images/slider/banners_2.jpg') }}" width="800" height="300" /></a></li>
                <li><a href="#"><img src="{{ asset('bundles/epikaclub/images/slider/banners_3.png') }}" width="800" height="300" /></a></li>
			<!-- END #sliderList -->			
            </ul>
			
			<!-- BEGIN .clearfix -->
            <div class="clearfix">
			<!-- END .clearfix -->
			</div>
               
			<!-- BEGIN #sliderNextBack -->
            <div id="sliderNextBack">
                <a id="sliderBackLink" href="#"></a>
                <a id="sliderNextLink" href="#"></a>
			<!-- END #sliderNextBack -->
            </div>
			   
		<!-- END #divSlider -->
        </div>
        
        <!-- BEGIN #divWelcomeTop 
        <div id="divWelcomeTop">
         END #divWelcomeTop
        </div> -->
		<!-- BEGIN #divWelcome -->
        <div id="divWelcome">
            <table width="100%" align="center" style="position: relative; left:100px;">
            	<tr>
            		<td width="33%"><a href="{{ path('bono') }}" target="_self">
            			<img alt="" src="{{ asset('bundles/epikaclub/images/botonbono.png') }}">
            			</a></td>
            		<td width="33%">
            			<a href="{{ path('category') }}" target="_self">
            			<img alt="" src="{{ asset('bundles/epikaclub/images/botoncategorias.png') }}">
            			</a>
            		</td>
            		<td width="33%">
            			<a href="{{ path('company') }}" target="_self">
            			<img alt="" src="{{ asset('bundles/epikaclub/images/botonmarcas.png') }}">
            			</a>
            		</td>
            	</tr>
            </table>
		<!-- END #divWelcome -->
        </div>
        
		<!-- BEGIN #divWelcomeBottom -->
        <div id="divWelcomeBottom">
		<!-- END #divWelcomeBottom -->
		</div>
	
	{% set i = 0 %}
	
	{% for category in categories %}
	
		<!-- BEGIN #divRecentWorks -->
		<div id="divRecentWorks">
			
			<!-- BEGIN #divRecentWorksTitle -->
            <div id="divRecentWorksTitle">
            	{{ category.name }}
			<!-- END #divRecentWorksTitle -->
        	</div>
			
			<!-- BEGIN #divRecentWorksNextBack -->
          	<div id="divRecentWorksNextBack">
          		<a id="recentWorksNextLink{{ i }}" class="recentWorksNextLink" href="#"></a>
                <a id="recentWorksBackLink{{ i }}" class="recentWorksBackLink" href="#"></a>
			<!-- END #divRecentWorksNextBack -->
    		</div>
			
			<!-- BEGIN #divRecentWorksItems -->
            <div id="divRecentWorksItems">
            	
				<!-- BEGIN #recentWorksList -->
				<ul id="recentWorksList{{ i }}" class="recentWorksList">  
					{% for company in category.companies %}
					<li>
                        <!-- BEGIN .recentWorksItem -->
                        <div class="recentWorksItem">
                            
                                <!-- BEGIN .recentWorksItemsImageLink -->
                                <a class="recentWorksItemsImageLink" href="{{ path('bono_company',{ 'id': company.id }) }}">
                                    <img class="recentWorksItemsImage" src="http://www.clubepika.com/web{{ company.getWebPath }}"/>
                                </a>
                                
                                <!-- BEGIN .recentWorksItemsTitle -->
                                <div class="recentWorksItemsTitle">
                                    <a href="{{ path('bono_company',{ 'id': company.id }) }}">{{ company.name }}</a>
                                <!-- END .recentWorksItemsTitle -->
                                </div>
                                
                                <!-- BEGIN .recentWorksItemsText -->
                                <div class="recentWorksItemsText">
                                    {{ company.address }}, {{ company.neighborhood }}
                                <!-- END .recentWorksItemsText -->
                                </div>
                            
                        <!-- END .recentWorksItem -->
                        </div>
					</li>
					{% endfor %}
					
				<!-- END #recentWorksList -->
                </ul>
				
				<!-- BEGIN .clearfix -->
                <div class="clearfix">
				<!-- END .clearfix -->
				</div>
				
			<!-- END #divRecentWorksItems -->
            </div>
		<div style="text-align: center;"><img style="width: 990px;" alt="" src="{{ asset('bundles/epikaclub/images/separador.png') }}" /></div>
		<!-- END #divRecentWorks -->
		</div>
		{% set i = 1 %}
      {% endfor %}
      	
{% endblock %}