{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block fbmetas %}
<meta property="og:title" content="{{ entity.name }}" />
<meta property="og:description" content="{{ entity.description }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://www.clubepika.com/web{{ entity.images[0].getWebPath }}" />
<meta property="og:url" content="http://www.clubepika.com{{ path('bono_show',{'id':entity.id}) }}" />
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/nivo-slider.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/js/jquery.nivo.slider.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/tabs/vendor/jquery.hashchange.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/tabs/lib/jquery.easytabs.min.js') }}"></script>
{% endblock %}
{% set baseUrl = url('default_index') %}
{% block route %} {{ parent() }} 

	{% if app.request.server.get('HTTP_REFERER') == baseUrl ~ 'bonos/' %}
	> <a href="{{ path('bono') }}">Bonos</a> > {{ entity.name }}
	{% else %}
	> <a href="{{ path('category') }}">Categorias</a> > <a href="{{ path('bono_company',{'id': entity.company.id}) }}">{{ entity.company.name }}</a> > {{ entity.name }} 
	{% endif %}
	
{% endblock %}
{% block contenido_title %}{% endblock %}
{% block contenido %}
<div id="showContainer">
<div style="width: 708px; height:290px; border: none; border-radius: 6px; padding: 0; margin-left: 1em; margin-top: 2em; box-shadow: 8px 8px 4px #888888; -webkit-box-shadow: 8px 8px 4px #888888; ">
			<table border="0">
				<tr>
					<td width="301">
						<div class="bonoImages" style="margin: 0; padding: 0; position: relative; top: -3px; left: -4px;">

							<!-- BEGIN #imageList -->							
				            <div id="slider" class="nivoSlider">
				               	{% for image in entity.images %}
				               		
				               			<img class="image" alt="{{ entity.description }}" title="" src="http://www.clubepika.com/web{{ image.getWebPath }}" width="300" height="253" />
				               		
				               	{% endfor %}
							</div>
							<!-- END #imageList -->
							<script type="text/javascript">
							$(window).load(function() {
							    $('#slider').nivoSlider({
							        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
							        animSpeed: 500, // Slide transition speed
							        pauseTime: 3000, // How long each slide will show
							        startSlide: 0, // Set starting Slide (0 index)
							        directionNav: false, // Next & Prev navigation
							        controlNav: false, // 1,2,3... navigation
							        keyboardNav: false, // Use left & right arrows
							        pauseOnHover: true, // Stop animation while hovering
							        captionOpacity: 0.8, // Universal caption opacity
							    });
							});
							</script>
							
						</div>
						<div class="bonoSocials" style="width: 300px; height: 37px; background: #D0CACA; text-align: center; margin:0 auto; padding-top: 10px; padding-bottom: 5px; position: relative; top: -31px; left: -5px; border-bottom-left-radius: 6px; border-top: none; z-index:1000;">
							<div style="text-align:center; margin:0 auto; padding:8px 15px; width:100%;">
								<!-- AddThis Button BEGIN -->
								<div id="addthis" class="addthis_toolbox addthis_default_style" addthis:url="http://www.clubepika.com{{ path("bono_show",{'id':entity.id}) }}" 
								addthis:title="{{ entity.name }}" addthis:description="{{ entity.description }}" addthis:screenshot="http://www.clubepika.com/web{{ entity.images[0].getWebPath }}" 
								addthis:templates=""
								addthis:width="300" addthis:height="253">
								<a class="addthis_button_facebook_like" 
								fb:like:layout="button_count" 
								addthis:url="http://www.clubepika.com{{ path('bono_show',{'id':entity.id}) }}"></a>
								<a class="addthis_button_tweet" tw:size="medium"></a>
								<a class="addthis_button_google_plusone" g:plusone:annotation="bubble" g:plusone:size="medium"></a>
								<!-- <a class="addthis_button_compact" addthis:url="http://www.clubepika.com{{ path("bono_show",{'id':entity.id}) }}" 
								addthis:title="{{ entity.name }}" addthis:description="{{ entity.description }}"></a> -->
								</div>
								<!-- AddThis Button END -->
							</div>
						</div>
					</td>
					<td>
						<table border="0" width="100%">
							<tr>
								<td height="20">
									<div class="bonoDiscountImage" style="float: left; width: 20px !important; height: 55px !important; position: relative; top: -10px; left: 300px; z-index: 1000;">
										<img alt="descuento" title="Descuento" src="{{ asset('bundles/epikaclub/images/descuento.png') }}" />
										{% if entity.discount < 100 %}
										<span style="position: relative; top:-63px; left: 19px; font-size: 1.9em; color: #b31504;">{{ entity.discount }}%</span>
										{% else %}
										<span style="position: relative; top:-63px; left: 19px; font-size: 1.9em; color: #b31504;">2x1</span>
										{% endif %}
									</div>
									<!-- <div class="bonoSaveImage" style="float: right; position: relative; top: -69px; left: -110px; width: 20px; height: 55px;">
										<img alt="ahorra" title="Ahorra" src="{{ asset('bundles/epikaclub/images/ahorra.png') }}" width="140" height="140" />
										<span style="position: relative; top:-86px; left: 38px; font-size: 1.7em; color: #fff;">{{ entity.save }}</span>
									</div> -->
									<div class="bonoTitle" style="float: right; width: 300px; height: 50px; color: #523824; position: relative; top: -6px; left: -20px; word-wrap: break-word; font-family: 'Gentium Book Basic'; font-size: 28px;">	
										<h2>{{ entity.name }}</h2>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="bonoShortDescription" style="font-family: 'PT Serif'; font-size: 16px; color: #523824; width: 300px; height: 70px; word-wrap: break-word; position: relative; top: -10px;">
										{{ entity.description }}
									</div>
								</td>
							</tr>
							<tr>
								<td align="center">
									<span style="position: relative; top: 60px; left: -75px; font-size: 16px; font-weight:bold; color: #523824;">Solo Pagas:</span>
									<span style="position: relative; top: 20px; left: -160px; font-size: 16px; font-weight:bold; color: #523824;">Ahorra:</span>
									<div class="bonoSave" style="position: relative; top: -10px; left: 25px;">
										<img alt="ahorro" title="Ahorro" src="{{ asset('bundles/epikaclub/images/botones3.png') }}" />
										
									</div>
									<div class="bonoPrice" style="position: relative; top: -18px; left: 25px;">
										<img alt="precio" title="Precio" src="{{ asset('bundles/epikaclub/images/botones3.png') }}" />
										
									</div>
									<div style="position: relative; top:-98px; left: 18px; font-family: 'Gentium Book Basic'; font-size: 1.8em; color: #7e6754;">
										<span>${{ entity.save|number_format }}</span>
									</div>
									<div style="position: relative; top:-78px; left: 18px; font-family: 'Gentium Book Basic'; font-size: 1.8em; color: #7e6754;">
									{% if entity.discount == 100 %}
									<span>${{ entity.price|number_format }}</span>
									{% else %}
									<span>${{ (entity.price - entity.save)|number_format }}</span>
									{% endif %}
									</div>
									<div id="qImage" style="width:20px; height:20px; position: relative; top: -88px; right:-157px;">
									{% if entity.quantity > 0 %}
									<img alt="" src="{{ asset('bundles/epikaclub/images/bonoilimitado3.png') }}" />
									<span style="color: #fff; position:relative; top:-56px; left:41px;">{{ entity.quantity }}</span>
									{% else %}
									<img alt="" src="{{ asset('bundles/epikaclub/images/bonoprueba.png') }}" />
									{% endif %}
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
</div>

<!-- Style de los tabs -->
<style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #ea6941; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; text-decoration: none; color: #fff; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #ededf0; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
    .tab a.active { font-weight: bold; color: #ea6941; }
    .tab-container .panel-container { background: #ededf0; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
</style>
<!-- End del Style -->

<!-- Bono Description -->
<div id="bonoMicroSite" style="width:100%;text-align:left;padding: 0; margin-left: 1.5em; margin-top: 1.5em;">
	<div id="bonoDescription" style="width: 700px;margin-left:1em;margin-top:2em;">

		<!-- BEGIN TABS -->
		<div id="tab-container" class="tab-container">
			<ul class="etabs">
				<li class="tab"><a href="#tab-desc">Detalles del Bono</a></li>
				<li class="tab"><a href="#tab-cond">Condiciones</a></li>
				<li class="tab"><a id="map-tab" href="#tab-map">Ubicación</a></li>
				<li class="tab"><a href="#tab-info">Más sobre {{ entity.company.name }}</a></li>
			</ul>
			<div class="panel-container">
				<div id="tab-desc">
					{{ entity.longdescription }}
				</div>
				<div id="tab-info">
					{{ entity.information }}
				</div>
				<div id="tab-cond">
					<ul>
					{% for condition in conditions %}
						<li>{{ condition }}</li>
					{% endfor %}
					</ul>
				</div>
				<div id="tab-map">
					<div id="map_canvas" style="width: 675px; height:250px; border: 1px #000000 groove;text-align:center"></div>
				</div>
			</div>
		</div>
		<!-- END TABS -->
	</div>
</div>
<!-- End Bono Description -->
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	<div>
	<ul style="list-style-type: none;">
		<li style="display: inline-block;"><a href="{{ path('bono_edit', {'id': entity.id}) }}">Editar</a></li>
		<li style="display: inline-block;"> | <a href="{{ path('bono_images', {'id': entity.id}) }}">Editar Imagenes</a></li>
		<li style="display: inline-block;"> | <a href="{{ path('company_edit', {'id': entity.company.id}) }}">Editar Comercio</a></li>
		<li style="display: inline-block;"> | <a href="{{ path('admin_reset', {'id': entity.company.id, 'tipo': 1}) }}">Resetear Password Comercio</a></li>
		<li style="display: inline-block;">
		 <form action="{{ path('bono_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
             | <button type="submit">Eliminar</button>
        </form>
        </li>
	</ul>
	</div>
	{% endif %}
{% endif %}
<!-- Google Maps -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript">
$(document).ready( function() {
var map;
function initialize() {
  	var latlng = new google.maps.LatLng({{ entity.company.geoX }}, {{ entity.company.geoY }});
  	var myOptions = {
    	zoom: 15,
    	center: latlng,
    	mapTypeId: google.maps.MapTypeId.ROADMAP
  	};
  	map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  	var markerImage = new google.maps.MarkerImage('{{ asset('bundles/epikaclub/images/marcador_new.png') }}',
		new google.maps.Size(100,50),
		new google.maps.Point(0,0),
		new google.maps.Point(50,50)
	);

	var markerShadow = new google.maps.MarkerImage('{{ asset('bundles/epikaclub/images/marcador_shadow.png') }}',
		new google.maps.Size(130,50),
		new google.maps.Point(0,0),
		new google.maps.Point(65, 50)
	);
	var contentString = '<div id="markerContent">'+
	'<h3 id="firstHeading" class="firstHeading" style="padding:0; margin:0;">{{ entity.company.name }}</h3>'+
	'<div>'+
	'<p style="padding:0; margin:0;">{{ entity.company.address }}, {{ entity.company.neighborhood }}</p>'+
	'</div>'+
	'</div>';
	var infoWindow = new google.maps.InfoWindow({
		content: contentString
		});
	var marker = new google.maps.Marker({
	map: map,
	position: latlng,
	icon: markerImage,
	shadow: markerShadow,
	title:"{{ entity.company.name }}",
	zIndex: 3
	});

	google.maps.event.addListener(marker, 'click', function () {
		//infoWindow.close();
		infoWindow.open(map, marker);
	});
};

	$('#tab-container').easytabs();

	$('#tab-container').bind('easytabs:after', function(evt, tab, panel, data) {
		  if ( tab.hasClass('active') ) {
		    initialize();
		  }
	});
});
</script>
<!-- END Google Maps -->
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f70d93e6ae929b0"></script>
<script type="text/javascript">
	var addthis_config =
	{
		services_compact: 'blogger,digg,gmail,google,hotmail,linkedin,myspace,orkut,reddit,tumblr',
		services_exclude: 'facebook,twitter'
	}
									
	var addthis_share = 
	{
		templates: {
        	twitter: '{{ '{{title}}' }} {{ '{{url}}' }} via @clubepika'
    	}
	}
</script>
</div>
{% endblock %}