{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/nivo-slider.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/js/jquery-1.7.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/js/jquery.nivo.slider.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/tabs/vendor/jquery.hashchange.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/tabs/lib/jquery.easytabs.min.js') }}"></script>
{% endblock %}
{% block contenido_title %}{% endblock %}
{% block contenido %}
<div id="showContainer">
<div style="width: 708px; height:290px; border: 2px #000000 groove; border-radius: 6px; padding: 0; margin-left: 1em; margin-top: 2em; box-shadow: 8px 8px 4px #888888; -webkit-box-shadow: 8px 8px 4px #888888; ">
			<table border="0">
				<tr>
					<td width="301">
						<div class="bonoImages" style="margin: 0; padding: 0; position: relative; top: -3px; left: -4px;">

							<!-- BEGIN #imageList -->							
				            <div id="slider" class="nivoSlider">
				               	{% for image in entity.images %}
				               	<img class="image" alt="{{ entity.description }}" title="{{ entity.description }}" src="{{ image.getWebPath }}" width="300" height="253" />
				               	{% endfor %}
							</div>
							<!-- END #imageList -->
							<script type="text/javascript">
							$(window).load(function() {
							    $('#slider').nivoSlider({
							        effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
							        animSpeed: 500, // Slide transition speed
							        pauseTime: 3000, // How long each slide will show
							        startSlide: 0, // Set starting Slide (0 index)
							        directionNav: false, // Next & Prev navigation
							        controlNav: false, // 1,2,3... navigation
							        keyboardNav: false, // Use left & right arrows
							        pauseOnHover: true, // Stop animation while hovering
							        captionOpacity: 0.8, // Universal caption opacity
							    });
							});
							</script>
							
						</div>
						<div class="bonoSocials" style="width: 302px; height: 37px; background: #D0CACA; text-align: center; margin:0 auto; padding-top: 10px; padding-bottom: 5px; position: relative; top: -33px; left: -4px; border-bottom-left-radius: 6px; border-top: 2px groove #242524; z-index:1000;">
							<div style="text-align:center; margin:0 auto; padding:8px 65px; width:100%;">
								<!-- AddThis Button BEGIN -->
								<div class="addthis_toolbox addthis_default_style" addthis:url="http://www.clubepika.com{{ path("bono_show",{'id':entity.id}) }}" 
								addthis:title="{{ entity.name }}" addthis:description="{{ entity.description }}" addthis:screenshot="{{ entity.images[0].getWebPath }}" 
								addthis:templates=""
								addthis:width="300" addthis:height="253">
								<a class="addthis_button_facebook"></a><span class="addthis_separator">|</span>
								<a class="addthis_button_twitter"></a><span class="addthis_separator">|</span>
								<a class="addthis_button_google_plusone" g:plusone:annotation="none"></a><span class="addthis_separator">|</span>
								<a class="addthis_button_email"></a><span class="addthis_separator">|</span>
								<a class="addthis_button_compact" addthis:url="http://www.clubepika.com{{ path("bono_show",{'id':entity.id}) }}" 
								addthis:title="{{ entity.name }}" addthis:description="{{ entity.description }}"></a>
								</div>
								<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f70d93e6ae929b0"></script>
								<script type="text/javascript">
									var addthis_config =
									{
										services_compact: 'blogger,digg,gmail,google,hotmail,linkedin,myspace,orkut,reddit,tumblr',
										services_exclude: 'facebook,twitter'
									}
									
									var addthis_share = {
								        templates: {
								            twitter: '{{ entity.name }} {{ '{{url}}' }} via @clubepika'
								        }
								    }
								</script>
								<!-- AddThis Button END -->
							</div>
						</div>
					</td>
					<td>
						<table border="0" width="100%">
							<tr>
								<td height="20">
									<div class="bonoDiscountImage" style="float: left; width: 20px !important; height: 55px !important; position: relative; top: -44px; left: 300px;">
										<img alt="descuento" title="Descuento" src="{{ asset('bundles/epikaclub/images/descuento.png') }}" />
										{% if entity.discount < 100 %}
										<span style="position: relative; top:-61px; left: 19px; font-size: 1.9em; color: #b31504;">{{ entity.discount }}%</span>
										{% else %}
										<span style="position: relative; top:-61px; left: 19px; font-size: 1.9em; color: #b31504;">2x1</span>
										{% endif %}
									</div>
									<!-- <div class="bonoSaveImage" style="float: right; position: relative; top: -69px; left: -110px; width: 20px; height: 55px;">
										<img alt="ahorra" title="Ahorra" src="{{ asset('bundles/epikaclub/images/ahorra.png') }}" width="140" height="140" />
										<span style="position: relative; top:-86px; left: 38px; font-size: 1.7em; color: #fff;">{{ entity.save }}</span>
									</div> -->
									<div class="bonoTitle" style="width: 200px; height: 50px; position: relative; top: -70px; word-wrap: break-word;">	
										<h2>{{ entity.name }}</h2>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="bonoShortDescription" style="width: 400px; height: 70px; word-wrap: break-word; position: relative; top: -50px;">
										{{ entity.description }}
									</div>
								</td>
							</tr>
							<tr>
								<td align="center">
									<div class="bonoPrice" style="position: relative; top: -15px;">
										<img alt="precio" title="Precio" src="{{ asset('bundles/epikaclub/images/botones3.png') }}" />
									</div>
									{% if entity.discount == 100 %}
									<span style="position: relative; top:-55px; left: 5px; font-size: 1.7em; color: #ef7f1a;">${{ entity.price }}</span>
									{% else %}
									<span style="position: relative; top:-55px; left: 5px; font-size: 1.7em; color: #ef7f1a;">${{ entity.price - entity.save }}</span>
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
</div>

<!-- Style de los tabs -->
<style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; text-decoration: none; color: #ef7f1a; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
</style>
<!-- End del Style -->

<!-- Bono Description -->
<div id="bonoMicroSite" style="width:100%;text-align:left;padding: 0; margin-left: 1.5em; margin-top: 1.5em;">
	<div id="bonoDescription" style="width: 700px;margin-left:1em;margin-top:2em;">
		<h2>{{ entity.name }}</h2>
		<span>{{ entity.description }}</span><br /><br />
		<!-- BEGIN TABS -->
		<div id="tab-container" class="tab-container">
			<ul class="etabs">
				<li class="tab"><a href="#tab-desc">Descripción</a></li>
				<li class="tab"><a href="#tab-info">Información</a></li>
				<li class="tab"><a href="#tab-cond">Condiciones</a></li>
				<li class="tab"><a id="map-tab" href="#tab-map">Ubicación</a></li>
			</ul>
			<div class="panel-container">
				<div id="tab-desc">
					{{ entity.longdescription }}
				</div>
				<div id="tab-info">
					{{ entity.information }}
				</div>
				<div id="tab-cond">
					{{ entity.conditions }}
				</div>
				<div id="tab-map">
					<div id="map_canvas" style="width: 675px; height:250px; border: 1px #000000 groove;text-align:center"></div>
				</div>
			</div>
		</div>
		<!-- END TABS -->
	</div>
</div> 
<!-- End Bono Description -->
<!-- Google Maps -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript">
$(document).ready(function() {
	var geocoder, map;
	function initialize() {
		geocoder = new google.maps.Geocoder();
	  var latlng = new google.maps.LatLng(-34.397, 150.644);
	  var myOptions = {
	    zoom: 15,
	    center: latlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	}
	var infoWindow = new google.maps.InfoWindow();
	function codeAddress(adrs, title) {
			//alert(adrs);	
		  var address = adrs;
		  geocoder.geocode( { 'address': address}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
			  map.setCenter(results[0].geometry.location);
			  var marker = new google.maps.Marker({
				  map: map, 
				  position: results[0].geometry.location,
				  title:"Prueba"
			  });
	
			  google.maps.event.addListener(marker, 'click', function () {
				 //infoWindow.close();
			     infoWindow.setContent("<b>"+title+"</b><br />"+address);
			     infoWindow.open(map, marker);
			  });
			}
		  });
		}

		//$(document).ready(function() {
		//	initialize();
		//	codeAddress('{{ entity.company.address }}' + ' ' + '{{ entity.company.neighborhood }}' + ' ' + '{{ entity.company.city.name }}' + ' ' + 'Colombia', '{{ entity.company.name }}');
		//});

		$(document).ready( function() {
			$('#tab-container').easytabs();
		});

		$('#tab-container').bind('easytabs:after', function(evt, tab, panel, data) {
			  if ( tab.hasClass('active') ) {
			    initialize();
			    codeAddress('{{ entity.company.address }}' + ' ' + '{{ entity.company.neighborhood }}' + ' ' + '{{ entity.company.city.name }}' + ' ' + 'Colombia', '{{ entity.company.name }}');
			  }
		});


});
</script>
<!-- END Google Maps -->
<div class="actions" style="">
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('bono') }}">
	            Volver
	        </a>
	    </li>
	    <li>
	        <a href="{{ path('bono_edit', { 'id': entity.id }) }}">
	            Editar
	        </a>
	    </li>
	    <li>
	        <form action="{{ path('bono_delete', { 'id': entity.id }) }}" method="post">
	            {{ form_widget(delete_form) }}
	            <button type="submit">Eliminar</button>
	        </form>
	    </li>
	</ul>
</div>
</div>
{% endblock %}