{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/ui-lightness/jquery-ui-1.8.18.custom.css') }}" />
	<style>
		#profileActions { float: left; }
		#profileActions ul li { list-style: none; }
		#profileActions a { width: 200px; }
		#profileContent { width: 550px; padding-top: 1em; padding-left: 0; position: relative; left: 250px; }
		#profileContent table { width: 100%; position: relative; top: -140px; margin-left: 1em; }
		#profileContent table img { position: relative; left: 100px; margin-bottom: 1em; }
	</style>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/js/jquery-ui-1.8.18.custom.min.js') }}"></script>
{% endblock %}
{% block body %}
<div id="divRecentWorks">
	<div id="profileActions" class="profileActions">
		<ul>
			<li><a href="{{ path('company_profile') }}">Mi Info</a></li>
			<li><a href="#">Actualizar Info</a></li>
			<li><a href="#">Cambiar Contraseña</a></li>
			<li><a href="{{ path('company_activate') }}">Activar Bono</a></li>
			<li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>
		</ul>
	</div>
	{% block profileContent %}
	<div id="profileContent" class="">
		<table>
			<tr>
				<td colspan="2"><img alt="{{ entity.name }}" src="http://www.clubepika.com/web{{ entity.getWebPath }}" width="200" height="120" /></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td>{{ entity.name }}</td>
			</tr>
			<tr>
				<td>Nit:</td>
				<td>{{ entity.nit }}</td>
			</tr>
			<tr>
				<td>Dirección:</td>
				<td>{{ entity.address }}</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>{{ entity.email }}</td>
			</tr>
			<tr>
				<td>Teléfono:</td>
				<td>{{ entity.phone }}</td>
			</tr>
			<tr>
				<td>Celular:</td>
				<td>{{ entity.cellphone }}</td>
			</tr>
		</table>
	</div>
	{% endblock %}
</div>
<script type="text/javascript">
$(function() {
	$( "#profileActions a" ).button({
		icons: {primary:'',secondary:'ui-icon-gear'},
	});
});
</script>

{% endblock %}