{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Compañia{% endblock %}
{% block contenido %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Imagen</th>
            <td><img alt="" src="{{ entity.getWebPath }}" width="100" height="100" /></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Nit</th>
            <td>{{ entity.nit }}</td>
        </tr>
        <tr>
            <th>Dirección</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Barrio</th>
            <td>{{ entity.neighborhood }}</td>
        </tr>
        <tr>
            <th>Ciudad</th>
            <td>{{ entity.city.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Teléfono</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ entity.cellphone }}</td>
        </tr>
    </tbody>
</table>
<h1 class="divRecentWorksTitle">Contacto</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.contacto.id }}</td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td>{{ entity.contacto.name }}</td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td>{{ entity.contacto.lastName }}</td>
        </tr>
        <tr>
            <th>Celular</th>
            <td>{{ entity.contacto.cellphone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.contacto.email }}</td>
        </tr>
        <tr>
            <th>Foto</th>
            <td><img alt="" src="{{ entity.contacto.getWebPath }}" width="100" height="100" /></td>
        </tr>
    </tbody>
</table>
<ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Volver
        </a>
    </li>
    <li>
        <a href="{{ path('company_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('company_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}