{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Editar Categoria{% endblock %}
{% block contenido %}

<form action="{{ path('category_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_label(edit_form.name,"Nombre") }}
    {{ form_errors(edit_form.name) }}
	{{ form_widget(edit_form.name) }}
	{{ form_rest(edit_form) }}
    <p>
        <button type="submit">Editar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Volver
        </a>
    </li>
    <li>
        <form action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}