{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Categorias{% endblock %}
{% block contenido %}

<table class="records_list">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('category_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('category_new') }}">
            Nueva Categoria
        </a>
    </li>
</ul>
{% endblock %}