{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Nueva Categoria{% endblock %}
{% block contenido %}

<form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_label(form.name,"Nombre") }}
    {{ form_errors(form.name) }}
	{{ form_widget(form.name) }}
	{{ form_rest(form) }}
    <p>
        <button type="submit">Crear</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}