{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Membresias{% endblock %}
{% block contenido %}
<table class="records_list">
    <thead>
        <tr>
            <th>Membresia</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.quantity }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('membresia_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('membresia_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('membresia_new') }}">
            Nueva Membresia
        </a>
    </li>
</ul>
{% endblock %}