{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/epikaclub/css/ui-lightness/jquery-ui-1.8.18.custom.css') }}" />
	<style>
		#profileActions { float: left; width: 200px; height:100%; margin-left: 2em; }
		.accordionContentPane ul li { list-style: none; padding-left: .5em; }
		.accordionContentPane a { text-decoration: none; }
	</style>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/epikaclub/js/jquery-ui-1.8.18.custom.min.js') }}"></script>
{% endblock %}
{% block body %}
<div id="divRecentWorks">
	<div id="profileActions" class="profileActions">
		<div id="accordion" class="accordion">
			<h3><a href="#">Afiliados</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('afiliado') }}">Lista</a></li>
					<li><a href="{{ path('afiliado_new') }}">Nuevo</a></li>
				</ul>
			</div>
			<h3><a href="#">Bonos</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('bono_admin') }}">Lista</a></li>
					<li><a href="{{ path('bono_new') }}">Nuevo</a></li>
				</ul>
			</div>
			<h3><a href="#">Comercios</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('company') }}">Lista</a></li>
					<li><a href="{{ path('company_new') }}">Nuevo</a></li>
				</ul>
			</div>
			<h3><a href="#">Categorias</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('category') }}">Lista</a></li>
					<li><a href="{{ path('category_new') }}">Nueva</a></li>
				</ul>
			</div>
			<h3><a href="#">Membresias</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('membresia') }}">Lista</a></li>
					<li><a href="{{ path('membresia_new') }}">Nueva</a></li>
				</ul>
			</div>
			<h3><a href="#">Cambiar Contrase침a</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="#">Cambiar Contrase침a</a></li>
				</ul>
			</div>
			<h3><a href="#">Cerrar Sesi칩n</a></h3>
			<div class="accordionContentPane">
				<ul>
					<li><a href="{{ path('logout') }}">Cerrar Sesi칩n</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% block profileContent %}
		
	{% endblock %}

</div>

<script type="text/javascript">
$(function() {
	$( "#accordion" ).accordion({
		active: 'none',
		autoHeight: false,
		collapsible: true,
		event: 'click',
		navigation: true
	});
});
</script>
{% endblock %}