{% extends 'EpikaClubBundle::layout.html.twig' %}
{% block contenido_title %}Nuevo Afiliado{% endblock %}
{% block contenido %}

<form action="{{ path('afiliado_create') }}" method="post" {{ form_enctype(form) }}>
    <div>{{ form_errors(form) }}</div>
    <table>
    	<tr>
    		<td>{{ form_label(form.identification) }}</td>
    		<td>{{ form_widget(form.identification) }}</td>
    		<td>{{ form_errors(form.identification) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.name) }}</td>
    		<td>{{ form_widget(form.name) }}</td>
    		<td>{{ form_errors(form.name) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.last_name) }}</td>
    		<td>{{ form_widget(form.last_name) }}</td>
    		<td>{{ form_errors(form.last_name) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.address) }}</td>
    		<td>{{ form_widget(form.address) }}</td>
    		<td>{{ form_errors(form.address) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.neighborhood) }}</td>
    		<td>{{ form_widget(form.neighborhood) }}</td>
    		<td>{{ form_errors(form.neighborhood) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.phone) }}</td>
    		<td>{{ form_widget(form.phone) }}</td>
    		<td>{{ form_errors(form.phone) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.cellphone) }}</td>
    		<td>{{ form_widget(form.cellphone) }}</td>
    		<td>{{ form_errors(form.cellphone) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.email) }}</td>
    		<td>{{ form_widget(form.email) }}</td>
    		<td>{{ form_errors(form.email) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.gender) }}</td>
    		<td>{{ form_widget(form.gender) }}</td>
    		<td>{{ form_errors(form.gender) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.birth_date) }}</td>
    		<td>{{ form_widget(form.birth_date.day) }}
    		{{ form_widget(form.birth_date.month) }}
    		{{ form_widget(form.birth_date.year) }}</td>
    		<td>{{ form_errors(form.birth_date) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.department) }}</td>
    		<td>{{ form_widget(form.department) }}</td>
    		<td>{{ form_errors(form.department) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.city) }}</td>
    		<td>{{ form_widget(form.city) }}</td>
    		<td>{{ form_errors(form.city) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.ocupation) }}</td>
    		<td>{{ form_widget(form.ocupation) }}</td>
    		<td>{{ form_errors(form.ocupation) }}</td>
    	</tr>
    </table>
    <table>
    	<tr>
    		<th align="left"><h1>Tarjeta</h1></th>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.card.number) }}</td>
    		<td>{{ form_widget(form.card.number) }}</td>
    		<td>{{ form_errors(form.card.number) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.card.expiration_date) }}</td>
    		<td>{{ form_widget(form.card.expiration_date) }}</td>
    		<td>{{ form_errors(form.card.expiration_date) }}</td>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.card.membership) }}</td>
    		<td>{{ form_widget(form.card.membership) }}</td>
    		<td>{{ form_errors(form.card.membership) }}</td>
    	</tr>
    </table>
    <table>
    	<tr>
    		<th><h1>Usuario</h1></th>
    	</tr>
    	<tr>
    		<td>{{ form_label(form.user.username) }}</td>
    		<td>{{ form_widget(form.user.username) }}</td>
    		<td>{{ form_errors(form.user.username) }}</td>
    	</tr>
    </table>
    {{ form_rest(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('afiliado') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block sidebar %}{% endblock %}