{% extends 'EpikaClubBundle:Afiliate:profile.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}
{% block profileContent %}
	
	<form action="{{ path('afiliate_password') }}" method="post" enctype="application/x-www-form-urlencoded">
		<table style="position: relative; top:10px; left: 100px;">
			<tr>
				<td colspan="2"><h1>Cambiar Contraseña</h1></td>
			</tr>
			<tr>
				<td>Nueva Contraseña:</td>
				<td><input type="password" id="password" name="password" value="" required="required" /></td>
				<td>{% if error is defined %}{{ error }}{% endif %}</td>
			</tr>
			<tr>
				<td>Confirmar Contraseña:</td>
				<td><input type="password" id="repassword" name="repassword" value="" required="required" /></td>
				<td>{% if error is defined %}{{ error }}{% endif %}</td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="Actualizar" /></td>
			</tr>
		</table>
	</form>

{% endblock %}